/* Gallery.css */
.gallery {
  text-align: center;
  padding: 50px 50px;
  background-image: linear-gradient(to right, #565dda, #002868);
}

.gallery-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  padding: 20px 60px;
}

.gallery h1 {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  line-height: 1.5px;
  margin-bottom: 30px;
}

.gallery-content h3 {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  color: #002868;
}

.white-box {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.white-box p {
  margin-bottom: 20px;
  font-size: 1.125rem;
  line-height: 2.44;
  color: #002868;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation button {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  /* padding: 10px 20px; */
  cursor: pointer;
  font-size: 18px;
}

.navigation button:hover {
  background-color: #f0f0f0;
}

.img-gal img {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
