.text-d {
  margin-left: -19rem;
  color: #737373;
  font-size: 15px;
  line-height: 1.44;
  margin-bottom: 1.25rem;
}
.quiz-box {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.q-title {
  font-size: 1.5rem;
  line-height: 1.35;
  font-weight: 500;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 3.5rem;
  color: #002868;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  gap: 9rem;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer {
  margin-top: 30px;
  color: #002868;
  font-size: 1rem;
  font-weight: 500;
}

.cercle {
  width: 75px;
  height: 75px;
  border: 1px solid #737373; /* Border color */
  border-radius: 50%; /* Make it a circle */
  background-color: transparent; /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s; /* Add transition for smooth effect */
}
.fa-check {
  color: #737373;
}
.cercle:hover {
  border: 2px solid #565dda; /* Border color */
}

.cercle:hover .fa-check {
  color: #565dda;
}

.option.selected .cercle {
  border: 2px solid #565dda; /* Border color for selected option */
}
.option.selected .fa-check {
  color: #565dda; /* Border color for selected option */
}

@media (max-width: 768px) {
  .text-d {
    margin: 0;
    font-size: 13px;
  }
  .q-title {
    font-size: 1.3rem;
  }
  .options {
    flex-direction: column;
    gap: 1rem;
  }
  .cercle {
    width: 60px;
    height: 60px;
  }
  .answer {
    font-size: 0.9rem;
  }
  .quiz-box {
    margin-top: 2rem;
  }
}
