.team-sec {
  padding: 50px 170px;
}

.team-sec h1 {
  color: #002868;
  text-align: right;
  line-height: 1.5;
}

.team-sec p {
  color: #002868;
  text-align: right;
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .team-sec {
    display: flex;
    flex-direction: column;
  }
  .team-img img {
    height: auto;
    width: 225px;
  }
}
